{{#if isLogged}}
    <button class="border-2 border-grey-400 py2 px4 rounded-md" id="logoutBtn">Cerrar sesión</button>
{{/if}}
<h1>Bienvenido {{user.nombre}} {{user.apellido}}</h1>
<script src="/js/perfil.js"></script>