<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <h1>Crear un usuario</h1>
    <div class="formContainer">
        <div class="form">
            <div>
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="name">
            </div>
            <div>
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="lastname">
            </div>
            <div>
                <label for="edad">Edad</label>
                <input type="text" name="edad" id="age">        
            </div>
            <div>
                <label for="email">Correo electrónico</label>
                <input type="text" name="email" id="email">        
            </div>
            <div>
                <label for="password">Contraseña</label>
                <input type="text" name="password" id="password">        
            </div>
            <div>
                <label for="rol">Rol</label>
                <input type="text" name="rol" id="rol">        
            </div>
            <button class="button addButton" id="loginBtn">Registrarse</button>
        </div>
    </div>
</body>
<script src="/js/register.js"></script>
</html>